<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Colorization</a>
            <ul class="nav gap-3">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <p class="nav-link text-secondary">Welcome, {{ user.username }} </p>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="{% url 'index' %}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="{% url 'personal_cabinet' request.user.pk %}">Особистий кабінет</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary" href="{% url 'logout' %}">Вийти</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="{% url 'index' %}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="{% url 'register' %}">Зареєструватися</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary" href="{% url 'login' %}">Ввійти</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-5 mb-5">
        {% block content %}

        {% endblock %}
    </div>

</div>
<footer class="footer">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Company, Inc
    </div>
    <!-- Copyright -->
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="{% static 'colorization_page/js/main.js' %}"></script>
</body>
</html>